.form-container {
  max-width: 800px;
  margin-top: 80px;
  margin-bottom: 30px;

  @media only screen and (min-width: 1025px) {
    margin-top: 95px;
  }

  .eight {
	  width: 100%;
    background: #FFF;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);

    @media only screen and (min-width: 768px) {
      padding: 20px 30px;
    }

    h1 {
      margin: 10px 0 30px;
      font-size: 1.7em;
    }

    h2 {
    	margin: 10px 0 30px;
    }

    form {

      h2 {
        margin: 0;
        font-size: 1.3em;
        color: #AAA;
      }

      ul {
        margin-top: 0;
        margin-bottom: 40px;

        li {
          color: #AAA;
        }
      }
    }

    label, em, i {
    	color: #AAA;
    }

    .email-label:before {
    	content: "or "
    }

    input[type=text], input[type=email], input[type=password] {
    	margin-bottom: 20px;

      &.last-input {
        margin-bottom: 0;
      }
    }

    .forgot-password {

      input[type=email] {
        margin-bottom: 0; 
      }
    }

    .edit-password {

      input:last-of-type {
        margin-bottom: 0;
      }
    }

    .avatar-input {
      margin-bottom: 20px;

      .avatar-label {
        display: block;
      }

      .file-input::-webkit-file-upload-button {
        background: #FFF;
        border: 1px solid #CCC;
        border-radius: 4px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 500;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 5px 11px;
        color: #999;
      }
    }

    .remember-me {

    }

    a {
    	color: #4D5685;
    	text-decoration: underline;

    	&:hover, &:focus {
    		color: #4D5685;
    	} 
    }
  
		.form-top {
			@include clearfix;
			margin-bottom: 20px;

			@media only screen and (min-width: 768px) {
				margin-bottom: 0;
			}

		  .form-left, .form-right {

		  	@media only screen and (min-width: 768px) {
		      width: 47.5%;
		      float: left;
		    }
		  }

			.form-left {

				@media only screen and (min-width: 768px) {
		      margin-right: 5%;
		    }
			}

			.form-right {
		    
		    label {
		    	display: block;
		    }

		    select {
		    	width: 100%;
		    	color: #AAA;
		    }
			}
		}

		.form-links {
			margin-bottom: 30px;
		}
	}
}