// Grid Styles

.container {
  @include outer-container(1400px);
  width: 100%;
  padding: 0 15px;
  width: 90%;
}

.three {
  @include span-columns(12);

  @media only screen and (min-width: 800px) {
    @include span-columns(3);
  }
} 

.six {
  @include span-columns(12);

  @media only screen and (min-width: 768px) {
    @include span-columns(6);
  }
}

.four {
  @include span-columns(12);

  @media only screen and (min-width: 768px) {
    @include span-columns(4);
  }
}    

.eight {
  @include span-columns(12);

  @media only screen and (min-width: 768px) {
    @include span-columns(8);
  }
}

.nine {
  @include span-columns(12);

  @media only screen and (min-width: 800px) {
    @include span-columns(9);
  }
}