header {
  @include linear-gradient(to right, $primary-color, $accent-color);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;

  @media only screen and (min-width: 1025px) {
    height: $nav-height;
  }

  .container {
    position: relative;

    .logo {
      background: transparent url(asset_path(#{"logo.svg"})) no-repeat center center;
      background-size: contain;
      display: inline-block;
      margin: 5px 0 0;
      height: 40px;
      width: 34px;
      fill: #FFF;

      @media only screen and (min-width: 1025px) {
        margin: 9px 0 0;
        width: 40px;
        height: 47px;
      }
    }

    .navicon-button {
      z-index: 1;
      padding: 23px 0;
      margin: 0;
      display: inline-block;
      position: relative;
      float: right;
      @include transition($duration/2 ease);
      cursor: pointer;
      user-select: none;

      @media only screen and (min-width : 1025px) {
        display: none;
      }

      @media only screen and (max-width : 1024px) {
        display: block;
      }

      &.open {
        @include transform(scale(.75));
        &:not(.steps) .navicon:before,
        &:not(.steps) .navicon:after {
          top: 0 !important;
        }

        .navicon {
          background: transparent;

          &:before, &:after {
            @include transition($duration ease);
          }

          &:before {
            @include transform(rotate(-45deg));
          }

          &:after {
            @include transform(rotate(45deg));
          }
        }
      }

      .navicon {
        position: relative;
        width: 36px;
        height: 4px;
        background: #fff;
        @include transition($duration ease);

        &:before, &:after {
          display: block;
          content: "";
          height: 4px;
          width: 36px;
          background: #fff;
          position: absolute;
          z-index: -1;
          @include transition($duration $duration/2 ease);
        }

        &:before {
          top: 10px;
        }

        &:after {
          top: -10px;
        }
      }

      .close {
        &:before, &:after {
          height: 6px;
        }
      }

      &:hover {
        @include transition($duration ease);
        
        .navicon:before, .navicon:after {
          @include transition($duration/2 ease);
        }
      }
    }

    nav {
      clear: both;
      display: none;
      text-align: center;
      padding-bottom: 20px;

      @media only screen and (min-width: 1025px) {
        display: inline-block;
        float: right;
        text-align: left;
        padding-bottom: 0;
      }

      span {
        display: block;

        a {
          font-size: 1.75em;
          font-weight: 900;
          text-transform: capitalize;
          color: #FFF;
          display: inline-block;
          padding: 5px 0;
          @include transition(color $duration/2 ease);

          &:hover {
            color: rgba(255,255,255,.8);
          }

          @media only screen and (min-width: 1025px) {
            margin-left: 30px;
            display: inline;
            padding: 0;
            letter-spacing: 1px;
            font-weight: 900;
            font-size: 1.2em;
          }
        }

        .clicker {
          cursor: pointer;
          line-height: 1.6;

          @media only screen and (min-width: 1025px) {
            position: relative;
            line-height: 3.8;
          }

          &:after {
            display: none;

            @media only screen and (min-width: 1025px) {
              display: inline;
              font-size: 13px;
              margin-left: 4px;
              color: rgba(255,255,255,.6);
            }
          }
        }

        .dropdown {

          @media only screen and (min-width: 1025px) {
            position: absolute;
            right: 15px;
            top: 52px;
            width: 130px;
            background: #FFF;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            padding: 20px;
            display: none;

            &:after {
              position: absolute;
              content: "";
              background: #fff;
              width: 12px;
              height: 12px;
              border-radius: 3px 0 0 0;
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              box-shadow: 0px 0px 2px rgba(0,0,0,0.08);
              top: -6px;
              right: 46%;
            }
          }

          span {

            @media only screen and (min-width: 1025px) {
              line-height: 1;
              width: 100%;
              text-align: center;
              margin-bottom: 15px;

              &:last-of-type {
                margin-bottom: 0;
              }
            }

            a {
              @media only screen and (min-width: 1025px) {
                margin: 0;
                color: #4D5685;
                font-size: 1.1em;
                font-weight: 700;
                letter-spacing: 2px;
              }
            }
          }
        }

        @media only screen and (min-width: 1025px) {
          float: left;
          line-height: $nav-height;
        }
      }
    }

    .nav-expanded {
      display: block;

      @media only screen and (min-width: 1025px) {
        position: absolute;
        top: 0;
        right: 15px;
      }
    }
  }
}

.header-fill {
  height: auto;

  @media only screen and (min-width: 1025px) {
    height: $nav-height;
    min-height: $nav-height;
  }
}