$primary-color: #5A5AFF;
$accent-color: darken($primary-color, 25%);
$headline-color: #4D5685;
$text-color: #999;
$button-hover: darken($primary-color, 7%);
$link-color: $primary-color;
$link-color-hover: darken($link-color, 10%);
$selection-color: #EEE;
$duration: .4s;
$nav-height: 65px;